*{
    margin: 0;
    padding: 0;
}
#titulo{
    font-family: sans-serif;
    color:aliceblue;
    margin-left: 7%;
}

#Subtitulo{
font-family: sans-serif;
color:rgb(255, 255, 255);
margin-left: 7%;
}

fieldset{
    border: 10;
}
body{
    background-image: url( https://c.com.br/800x800/549/549871/produto/29152034/83a0e77c2f.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  center center ;
    background-color: antiquewhite;
    font-family: sans-serif;
    font-size: 1em;
    color: black;
    margin-left: 36%;
    margin-top: 2%;
    

}